
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis');


*{
	padding: 0;
	margin: 0;
}

body {
	color: #000;
	background-color: #808080;
	font-size: 16px;
}

p {
	font-size: 1em;
	width: 30em;
	font-family: 'Dosis', sans-serif;
}

h1 {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 2em;
	font-family: 'Dosis', sans-serif;
}

ul {
	font-size: 1em;
}

a {
	color: #FFEA4D;
}

#title {
	color: #1F16FF;
}

#slogan {
	font-style: italic;
	color: #1F16FF;
}

.navlinks {
	color: #FFEA4D;
	font-family: 'Roboto', sans-serif;
}

.magazine {
	color: #FFEA4D;
	font-family: 'Dosis', sans-serif;
}

.news {
	color: #FFEA4D;
	font-family: 'Dosis', sans-serif;
}

.blog {
	color: #FFEA4D;
	font-family: 'Dosis', sans-serif;
}