
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
body {
	color: #000;
	background-color: #808080;
	font-size: 16px;
	padding: 20px;
}

p {
	font-size: 1em;
	width: 30em;
	font-family: 'Dosis', sans-serif;
	color: #fff;
}

h1 {
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 2em;
	font-family: 'Dosis', sans-serif;
}

ul {
	font-size: 1em;
	font-family: 'Dosis', sans-serif;
	color: #fff;
}

a {
	color: #FFEA4D;
	text-decoration: none;
}

#title {
	color: #1F16FF;
}

#slogan {
	font-style: italic;
	color: #1F16FF;
}

.navlinks {
	color: #FFEA4D;
	font-family: 'Roboto', sans-serif;
	display: block;
	width: 20%;
	float: left;
	text-align: center;
}

#magazine {
	color: #FFEA4D;
	font-family: 'Dosis', sans-serif;
}

#news {
	color: #FFEA4D;
	font-family: 'Dosis', sans-serif;
}

#blog {
	color: #FFEA4D;
	font-family: 'Dosis', sans-serif;
}

#wrapper {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}

.clearfix:after {
content: "";
display: block;
clear: both;

}
*/

/*header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}*/

